<div class="example-container">
<mat-card style="background-color: lightskyblue;">Datos de la nota de crédito</mat-card>

      <br />
      <div class="">
        <mat-form-field>
          <input matInput placeholder="Número de recibo" disabled="true"
            [(value)]="numeroorden">
        </mat-form-field>

        <mat-form-field class="inicio"> 
          <input matInput [matDatepicker]="picker" required placeholder="Fecha" [(ngModel)]="notacredito.fechaordenfarmacia">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <div>
        <mat-form-field style="width: 50%;" >
          <input matInput placeholder="Sr(a).:" [(ngModel)]="notacredito.consumidorordenfarmacia" required  type="string">
        </mat-form-field>

        <mat-form-field style="padding-left: 30px;width: 25%;">
          <input matInput placeholder="R.U.C." [(ngModel)]="notacredito.rucordenfarmacia" >
        </mat-form-field>
      </div>

      <mat-form-field style="width: 30%;padding-left: 30px;">
        <mat-select required placeholder="Descuento" [(value)]="descuento">
          <mat-option *ngFor="let p of descuentos" [value]="p">
            {{ p }}%
          </mat-option>
        </mat-select>
      </mat-form-field>






      
      

      <div>
  
        <!-- <mat-form-field class="example-full-width" style="width: 70%;">
          <input type="text" placeholder="Producto" required aria-label="Assignee" matInput [formControl]="producto"
            [matAutocomplete]="auto">
          <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete"
            [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
              {{option.nombreproducto}}, Marca:
              {{option.marcaproducto}}-{{option.presentacionproducto.nombrepresentacionproducto}}-{{option.presentacionproducto.cantidadpresentacionproducto}}-{{option.presentacionproducto.unidadpresentacionproducto}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
  
        <!-- <form class="example" [formGroup]="form1">
  
          <mat-form-field>
            <input matInput placeholder="Stock" formControlName="stock" type="number" [(value)]="stock">
          </mat-form-field>
  
          <mat-form-field style="padding-left: 25px;">
            <input matInput placeholder="Cantidad" formControlName="cantidadfarmacia" required type="number">
          </mat-form-field>
  
          <button style="float:right" mat-raised-button color="primary" (click)="agregar()">Agregar</button>
        </form> -->
  
      </div>
  
      <div class="example-container1 mat-elevation-z8" style="background-color: beige;">
        <mat-card style="background-color: beige;">Editar detalle de la venta</mat-card>

        <table mat-table [dataSource]="dataSource" style="background-color: beige;">
  
          <ng-container matColumnDef="cantidaddetalle">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
  
          <ng-container matColumnDef="denominacionproducto">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.producto.nombreproducto}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
  
          <ng-container matColumnDef="presentacion">
            <th mat-header-cell *matHeaderCellDef> Presentación </th>
            <td mat-cell *matCellDef="let transaction">
              {{transaction.producto.presentacionproducto.nombrepresentacionproducto}}-
              {{transaction.producto.presentacionproducto.cantidadpresentacionproducto}}-{{transaction.producto.presentacionproducto.unidadpresentacionproducto}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
  
          <ng-container matColumnDef="pventaproducto">
            <th mat-header-cell *matHeaderCellDef> P. Venta </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.producto.pventaproducto | currency: 'S/.' }} </td>
            <td mat-footer-cell *matFooterCellDef> Total S/. </td>
          </ng-container>
  
          <ng-container matColumnDef="importedetalle">
            <th mat-header-cell *matHeaderCellDef> Importe </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad * transaction.producto.pventaproducto | currency: 'S/.'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: 'S/.'}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let transaction">
              <button mat-button color="warn" (click)="eliminar(transaction)">
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  
        </table>
  
  
      </div>
  
      <div class="example">
        <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Terminar</button>
        <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
        <button style="float:right; margin-right: 25px;" mat-raised-button color="primary"
          (click)="imprimir()">Imprimir</button>
  
        <div style="width: 100%; height: 30px;"></div>
      </div>







    </div>