<mat-toolbar>Tipos de paciente</mat-toolbar>

<div class="tipopaciente-container mat-elevation-z8">
    <router-outlet></router-outlet>
  <div class="tipopaciente-header">
    <mat-form-field>
      <input matInput (keyup)= "applyFilter($event.target.value)" placeholder="Buscar tipo paciente" type="text">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort> 

    <ng-container matColumnDef="idtipopaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idtipopaciente}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipopaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tipopaciente}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idtipopaciente]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]"></mat-paginator>

</div>

<br/>

<div style="padding-right: 50px">
  <button class="agregar" mat-fab style="float:right" routerLink='/tipopaciente/nuevo'>
    <mat-icon>create</mat-icon>
  </button>
</div>