<mat-toolbar>Exámenes médicos</mat-toolbar>

<router-outlet></router-outlet>
<mat-tab-group>
<mat-tab label="Registro de exámenes">

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar examen médico">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idexamenmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idexamenmedico}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="denominacionexamenmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Denominación </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.denominacionexamenmedico}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="orden">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Orden </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.extra}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categoriaexamenmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.categoriaexamenmedico.nombrecategoriaexamenmedico}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <button mat-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" (click)="openDialog(row)" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>

<div style="padding: 50px;"></div>

</mat-tab>

<mat-tab label="Reporte general">
    <div>
    <mat-form-field style="padding: 25px;">
      <input matInput [matDatepicker]="picker1" placeholder="Fecha del inicio" [(ngModel)]="fechaSeleccionada1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="padding: 25px;">
      <input matInput [matDatepicker]="picker2" placeholder="Fecha del fin" [(ngModel)]="fechaSeleccionada2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button mat-stroked-button color="primary" (click)="pdfCaja()">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>

    <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfLabxlsx()">
      <i class="fas fa-file-excel" style="font-size: 22px;"></i>
    </button>
  </div>

  <div style="padding: 25px;">
      <ngx-extended-pdf-viewer *ngIf="rep!=''" [src]="rep" useBrowserLocale="false" height="80vh">
      </ngx-extended-pdf-viewer>
      <link rel="rep" type="application/110n" href="https://www.example.com/locale/locale.properties" />
    </div>

</mat-tab>


</mat-tab-group>