<router-outlet></router-outlet>
<mat-card>Laboratorio clínico - exámenes generales</mat-card>
<mat-tab-group>
  <mat-tab label="Registro de exámenes">
    <div>

      <div class="row" style="width: 100%; margin: 0;height:auto;">
        <div class="col-sm-12 col-xs-12" style="padding-top: 15px; background-color: beige; padding-bottom: 25px;">
          <div class="col-sm-6 col-xs-12" style="margin:0; padding:0;padding-right: 15px;">

            <div class="example-header">
              <mat-form-field style="width: 50%">
                <input matInput [(ngModel)]="num" placeholder="Buscar recibo por número">
              </mat-form-field>

              <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="consultar()">
                <mat-icon>search</mat-icon>
              </button>
            </div>

            <form class="example-container" [formGroup]="form2">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" required formControlName="fechaSeleccionada"
                  placeholder="Fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </form>

            <mat-form-field class="example-container" style="width: 100%;">
              <input matInput placeholder="paciente" [(ngModel)]="paciente">
            </mat-form-field>

          </div>


          <div class="col-sm-6 col-xs-12">
            <div class="mat-elevation-z6">
              <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Examen </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.nombrecategoriaexamenmedico}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-button color="primary" (click)="llamarexamen(row)">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
              </mat-table>
            </div>
          </div>
        </div>
      </div>










      <div class="row" style="width: 100%; margin: 0;height:auto; padding-top: 10px;">
        <div class="col-sm-12 col-xs-12" style="padding-top: 15px; background-color:lightcyan; padding-bottom: 25px;">

          <div class="col-sm-6 col-xs-12">
            <div class="mat-elevation-z6">

              <mat-table [dataSource]="dataSource1" matSort>

                <ng-container matColumnDef="denominacionexamenmedico">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.denominacionexamenmedico}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unidadmedida">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Unidad de medida </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.unidadmedida}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="extra">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Orden </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.extra}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-raised-button color="primary" (click)="resultadoex(row)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns1;">
                </mat-row>
              </mat-table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>





          <div class="col-sm-6 col-xs-12">

            <mat-form-field class="example-container" style="width: 60%;">
              <input matInput placeholder="Examen" disabled [(ngModel)]="examenresultado.denominacionexamenmedico">
            </mat-form-field>

            <mat-form-field class="example-container" style="width: 25%;">
              <input matInput placeholder="Unidad" disabled [(ngModel)]="examenresultado.unidadmedida">
            </mat-form-field>

            <form class="example-container" [formGroup]="form1">

              <mat-form-field style="width: 100%;">
                <mat-label>Ingrese el resultado</mat-label>
                <textarea rows="4" matInput placeholder="Resultado" required formControlName="resultado" type="string"></textarea>
              </mat-form-field>

              <div>
                <button style="float: right;" mat-raised-button color="primary" (click)="agregar()">
                  Registrar
                </button>
              </div>

            </form>


          </div>




        </div>


      </div>












      <div style="margin-top: 15px;background-color: beige;">

        <!-- <mat-form-field class="example-container" style="width: 70%;">
      <input matInput placeholder="Observaciones" [(ngModel)]="observacioness">
    </mat-form-field> -->

        <!-- <button style="margin-top: 10px;margin-right: 28px;" mat-raised-button color="primary" (click)="registrar()">
      Aceptar e imprimir
    </button> -->
      </div>

      <div class="mat-elevation-z8" style="padding-top: 15px;padding-bottom: 80px;">
        <mat-table [dataSource]="dataSource2" matSort style="background-color: lightcyan;">

          <ng-container matColumnDef="denominacionexamenmedico">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.examenmedico.denominacionexamenmedico}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="categoria">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Examen </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.examenmedico.categoriaexamenmedico.nombrecategoriaexamenmedico}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorreferencia">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Val. Referencia </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.examenmedico.valorreferencia}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="extra">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Extra </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.examenmedico.extra}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="unidadmedida">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.examenmedico.unidadmedida}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="resultado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.resultado}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-button color="warn" (click)="eliminar(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2;">
          </mat-row>
        </mat-table>

        <div>
          <button style="float: right;margin: 28px;" mat-raised-button color="primary" (click)="registrar()">
            Aceptar e imprimir
          </button>
          <button style="float: right;margin: 28px;" mat-raised-button color="warn" (click)="terminar()">
            Terminar
          </button>
        </div>
      </div>




    </div>
    <div style="padding: 50px;"></div>
    <ngx-extended-pdf-viewer *ngIf="ex!=''" [(src)]="ex" useBrowserLocale="true" height="80vh">
    </ngx-extended-pdf-viewer>
    <link rel="ex" type="application/110n" href="https://www.example.com/locale/locale.properties" />
  </mat-tab>






















  <mat-tab label="Historial del paciente">

    <div class="example-container mat-elevation-z8" style="margin: 10px;" >

      <div class="example-header" style="background-color: beige;">
        <mat-form-field style="width: 50%">
          <input matInput [(ngModel)]="pacient" placeholder="Buscar paciente por apellidos y nombres">
        </mat-form-field>
    
        <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="consultarpac()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    
      <div class="example-header">
        <mat-form-field style="width: 50%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar Busqueda">
        </mat-form-field>
      </div>
    
      <mat-table [dataSource]="dataSourcePac" matSort>
    
        <ng-container matColumnDef="hcl">
          <mat-header-cell *matHeaderCellDef mat-sort-header> HCL </mat-header-cell>
          <mat-cell *matCellDef="let rows"> {{rows.hcl}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="dnipaciente">
          <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
          <mat-cell *matCellDef="let rows"> {{rows.dnipaciente}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="nombresyapellidos">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y apellidos </mat-header-cell>
          <mat-cell *matCellDef="let rows"> {{rows.nombresyapellidos}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="tipopaciente">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de paciente </mat-header-cell>
            <mat-cell *matCellDef="let rows"> {{rows.tipopaciente.tipopaciente}} </mat-cell>
          </ng-container>
    
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let rows">        
            <button mat-button color="primary" (click)="cargar(rows)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumnsPac"></mat-header-row>
        <mat-row *matRowDef="let rows; columns: displayedColumnsPac;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


    <div class="mat-elevation-z6" style="margin: 25px;">

      <mat-table [dataSource]="dataSource3" matSort>

        <ng-container matColumnDef="idresultados">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.idresultados}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="observaciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.observaciones}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)="pdf2(row)">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
            <button mat-button color="warn" href="#myModal" data-toggle="modal" (click)="seleccionar(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns3;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <div style="padding: 50px;">
      <ngx-extended-pdf-viewer *ngIf="res!=''" [src]="res" useBrowserLocale="false" height="80vh">
      </ngx-extended-pdf-viewer>
      <link rel="res" type="application/110n" href="https://www.example.com/locale/locale.properties" />
    </div>

  </mat-tab>

</mat-tab-group>

<div>
  <!-- Modal HTML -->
  <div id="myModal" class="modal fade" >
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="icon-box">
            <i class="material-icons">&#xE5CD;</i>
          </div>				
          <h4 class="modal-title">¿Está seguro?</h4>	
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Realmente está seguro de eliminar el resultado del paciente {{nombres}}, esta acción no puede anularse.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarhist()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>  
</div>