<mat-toolbar>Pacientes</mat-toolbar>
<router-outlet></router-outlet>
<div class="example-container mat-elevation-z8" >

  <div class="example-header">
    <mat-form-field style="width: 50%">
      <input matInput [(ngModel)]="pacient" placeholder="Buscar paciente por apellidos y nombres">
    </mat-form-field>

    <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="consultar()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="example-header">
    <mat-form-field style="width: 50%">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar Busqueda">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="hcl">
      <mat-header-cell *matHeaderCellDef mat-sort-header> HCL </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.hcl}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dnipaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dnipaciente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombresyapellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y apellidos </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombresyapellidos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipopaciente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de paciente </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tipopaciente.tipopaciente}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <button mat-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="accent" *ngIf="row.tipopaciente.idtipopaciente==1" (click)="openModal(row)">
            <mat-icon>assignment</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" (click)="openDialog(row)" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>
<button mat-fab color="accent" (click)="abrir()" style="float: right; margin-right: 60px">
  <mat-icon>remove_red_eye</mat-icon>
</button>

<div style="padding: 50px;"></div>