
.example-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-left: 25px;
    padding-right: 25px;
}
.example-header{
    min-height: 64px;
    padding: 8px 24px 0;
}
.mat-form-filed{
    font-size: 14px;
    width: 100%;
}
.mat-table{
    overflow: auto;
    max-height: 500px;
}
.agregar{
    background: #3e2723;
}

.example-container{
    max-height: 500px;
    overflow-y: scroll;  
}

.example-container::-webkit-scrollbar{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

/* Cambiamos el fondo cuando esté en active */
.example-container::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.example-container::-webkit-scrollbar-thumb {
    background: #1547B3;
    border-radius: 4px;
}

.example-container::-webkit-scrollbar-track{
    background: #a3918c;
    border-radius: 4px;
}


.example-full-width{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 0 15px 0 15px;

}