<mat-toolbar>Número de atenciones por médico</mat-toolbar>

<div class="example-container mat-elevation-z8" >
  
  <div>
    <mat-form-field style="padding: 25px;">
      <input matInput [matDatepicker]="picker3" placeholder="Fecha de atención" [(ngModel)]="fechaSeleccionada3">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <button mat-button color="primary" (click)="pdfAtencion()">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
  </div>

  <div style="padding: 25px;">
    <ngx-extended-pdf-viewer *ngIf="at!=''" [src]="at" useBrowserLocale="false" height="80vh">
    </ngx-extended-pdf-viewer>
    <link rel="at" type="application/110n" href="https://www.example.com/locale/locale.properties" />
  </div> 
  
</div>