<div>
  <mat-toolbar color="primary"><span>Reporte de reconsultas</span></mat-toolbar>
  <div >
    
    <mat-form-field style="width: 80%;padding: 15px;">
      <mat-select  placeholder="Médico"
        [(ngModel)]="recSeleccionada">
        <mat-option *ngFor="let p of medicoreconsultas" [value]="p">
          {{ p.nombrespersonalmedico }}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field style="padding: 15px;">
          <input matInput required [matDatepicker]="pickerrec" placeholder="Fecha" [(ngModel)]="fechaSeleccionadarec">
          <mat-datepicker-toggle matSuffix [for]="pickerrec"></mat-datepicker-toggle>
          <mat-datepicker #pickerrec></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="padding: 15px;">
          <input matInput required [matDatepicker]="pickerrec2" placeholder="Fecha" [(ngModel)]="fechaSeleccionadarec2">
          <mat-datepicker-toggle matSuffix [for]="pickerrec2"></mat-datepicker-toggle>
          <mat-datepicker #pickerrec2></mat-datepicker>
        </mat-form-field>
  
        <button mat-stroked-button color="primary" (click)="pdfReconsultas()">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>

        <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="XLSXReconsultas()">
          <i class="fas fa-file-excel" style="font-size: 22px;"></i>
        </button>

  </div>
</div>
