<div class="example-container">

    <mat-form-field class="field">
      <input matInput [matDatepicker]="picker" placeholder="Fecha de expedición"
        [(ngModel)]="fechaSeleccionada">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field class="field">
      <input matInput placeholder="Edad" type="number" [(ngModel)]="historial.edad">
    </mat-form-field>
  
    <form [formGroup]="form1" (ngSubmit)="operar()">
    <mat-form-field style="width: 70%;">
      <input type="text" placeholder="Personal médico" required aria-label="Assignee" matInput [formControl]="personal"
        [matAutocomplete]="auto1">
      <mat-autocomplete (optionSelected)="onSelectionChanged1($event)" #auto1="matAutocomplete"
        [displayWith]="displayFn1">
        <mat-option *ngFor="let option of filteredOptions1 | async" [(value)]="option">
          {{option.nombrespersonalmedico}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </form>
  
    <mat-form-field class="field" >
      <mat-select placeholder="Servicio medico" [(value)]="serviciomedicoseleccionado">
        <mat-option *ngFor="let p of serviciosmedicos" [value]="p.denominacionserviciomedico">
          {{ p.denominacionserviciomedico }} - {{p.descripcionserviciomedico}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
<div>
    <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
    <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
  </div>
    <div style="padding: 25px;margin-top: 50px;">
        <ngx-extended-pdf-viewer *ngIf="hist!=''" [src]="hist" useBrowserLocale="false" height="80vh">
        </ngx-extended-pdf-viewer>
        <link rel="hist" type="application/110n" href="https://www.example.com/locale/locale.properties" />
      </div>
    
</div>

