<mat-toolbar>Tipo Personal Médico</mat-toolbar>

<div class="tipopersonal-container mat-elevation-z8">
    <router-outlet></router-outlet>
  <div class="tipopersonal-header">
    <mat-form-field>
      <input matInput (keyup)= "applyFilter($event.target.value)" placeholder="Buscar tipo personal médico" type="text">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idtipopersonalmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idtipopersonalmedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cargopersonalmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.cargopersonalmedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcionpersonalmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.descripcionpersonalmedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idtipopersonalmedico]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]"></mat-paginator>

</div>

<br/>

<div style="padding-right: 50px">
  <button class="agregar" mat-fab style="float:right" routerLink='/tipopersonalmedico/nuevo'>
    <mat-icon>create</mat-icon>
  </button>
</div>
<div style="padding: 50px;"></div>