<mat-tab-group style="border: 1px solid #1a237e;">

  <mat-tab label="Comprobante general">
    <mat-card>Ingrese los datos del comprobante</mat-card>


    <form class="example-container" [formGroup]="form" (ngSubmit)="operar()">
      <br />
      <router-outlet></router-outlet>

      <div class="">
        <mat-form-field>
          <input matInput placeholder="Número de recibo" formControlName="numeroorden" type="number"
            [(value)]="numeroorden">
        </mat-form-field>

        <mat-form-field class="inicio">
          <input matInput [matDatepicker]="picker" required formControlName="fechaseleccionada" placeholder="Fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <div>
        <mat-form-field style="width: 50%;">
          <input matInput placeholder="Sr(a).:" required formControlName="consumidorordenfarmacia" type="string">
        </mat-form-field>

        <mat-form-field style="padding-left: 30px;width: 25%;">
          <input matInput placeholder="R.U.C." formControlName="rucordenfarmacia" type="number">
        </mat-form-field>
      </div>
    </form>

    <mat-form-field style="width: 25%;padding-left: 30px;">
      <mat-select required (selectionChange)="desc($event)" placeholder="Descuento" [(ngModel)]="descuento">
        <mat-option *ngFor="let p of descuentos" [value]="p">
          {{ p }}%
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card>Registrar detalle de la venta</mat-card>
    <br />
    <div>

      <mat-form-field class="example-full-width" style="width: 70%;">
        <input type="text" placeholder="Producto" required aria-label="Assignee" matInput [formControl]="producto"
          [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete"
          [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
            {{option.nombreproducto}}, Marca:
            {{option.marcaproducto}}-{{option.presentacionproducto.nombrepresentacionproducto}}-{{option.presentacionproducto.cantidadpresentacionproducto}}-{{option.presentacionproducto.unidadpresentacionproducto}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <form class="example" [formGroup]="form1">

        <mat-form-field>
          <input matInput placeholder="Stock" formControlName="stock" type="number" [(value)]="stock">
        </mat-form-field>

        <mat-form-field style="padding-left: 25px;">
          <input matInput placeholder="Cantidad" formControlName="cantidadfarmacia" required type="number">
        </mat-form-field>

        <button style="float:right" mat-raised-button color="primary" (click)="agregar()">Agregar</button>
      </form>

    </div>

    <div class="example-container mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="cantidaddetalle">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="denominacionproducto">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.producto.nombreproducto}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef> Presentación </th>
          <td mat-cell *matCellDef="let transaction">
            {{transaction.producto.presentacionproducto.nombrepresentacionproducto}}-
            {{transaction.producto.presentacionproducto.cantidadpresentacionproducto}}-{{transaction.producto.presentacionproducto.unidadpresentacionproducto}}
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="pventaproducto">
          <th mat-header-cell *matHeaderCellDef> P. Venta </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.producto.pventaproducto | currency: 'S/.' }} </td>
          <td mat-footer-cell *matFooterCellDef> Total S/. </td>
        </ng-container>

        <ng-container matColumnDef="importedetalle">
          <th mat-header-cell *matHeaderCellDef> Importe </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.importe | currency: 'S/.'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: 'S/.'}} </td>
        </ng-container>


        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let transaction">
            <button mat-button color="warn" (click)="eliminar(transaction)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

      </table>


    </div>

    <div class="example">
      <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Terminar</button>
      <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
      <button style="float:right; margin-right: 25px;" mat-raised-button color="primary"
        (click)="imprimir()">Imprimir</button>

      <div style="width: 100%; height: 30px;"></div>
    </div>

    <ngx-extended-pdf-viewer *ngIf="or!=''" [src]="or" useBrowserLocale="false" height="80vh">
    </ngx-extended-pdf-viewer>
    <link rel="or" type="application/110n" href="https://www.example.com/locale/locale.properties" />
    </mat-tab>




    <mat-tab label="Reportes">

      <mat-toolbar color="primary"><span>Reporte detallado</span></mat-toolbar>

      <mat-form-field style="padding: 25px;">
        <input matInput [matDatepicker]="pickerd" placeholder="Fecha del inicio" [(ngModel)]="fechaDetallada">
        <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
        <mat-datepicker #pickerd></mat-datepicker>
      </mat-form-field>

      <button mat-stroked-button color="primary" (click)="pdfDetallado()">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
      <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfDetalladoXLSX()">
        <i class="fas fa-file-excel" style="font-size: 22px;"></i>
      </button>

      <div>
        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="picker2" placeholder="Fecha inicial" [(ngModel)]="fechainicio">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="picker3" placeholder="Fecha final" [(ngModel)]="fechafin">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        
      <button mat-stroked-button color="primary" (click)="pdfDetalladoNC()">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
      <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="DetalladoNCXLSX()">
        <i class="fas fa-file-excel" style="font-size: 22px;"></i>
      </button>
      </div>

      <div style="padding: 25px;">
        <ngx-extended-pdf-viewer *ngIf="vent!=''" [src]="vent" useBrowserLocale="true" height="80vh">
        </ngx-extended-pdf-viewer>
        <!-- <link rel="vent" type="application/110n" href="https://www.example.com/locale/locale.properties" /> -->
      </div>

    </mat-tab>

    <mat-tab label="Anular comprobante">

      <div>
        <mat-form-field style="width: 25%; padding: 15px;">
            <input matInput placeholder="Recibo" type="number"  [(ngModel)]="numerorecib">
          </mat-form-field>

          <!-- <input type="text" placeholder="Número de recibo" required aria-label="Assignee" matInput
            [formControl]="comprobante" [matAutocomplete]="auto2">
          <mat-autocomplete (optionSelected)="onSelectionChanged2($event)" #auto2="matAutocomplete"
            [displayWith]="displayFn2">
            <mat-option *ngFor="let option of filteredOptions2 | async" [(value)]="option">
              {{option.numeroorden}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->

        <button style="margin-right: 25px;" mat-stroked-button color="primary" (click)="buscarrec()">
          <mat-icon>search</mat-icon>
        </button>

        <button style="margin-right: 25px;" mat-stroked-button color="primary" (click)="nota()">
            Generar nota de crédito
        </button>

        <button mat-stroked-button color="warn" (click)="eliminarCP()">
          <mat-icon>delete</mat-icon>
        </button>
  
        <button style="margin-right: 25px;margin-top: 20px;float: right;" mat-raised-button color="accent" (click)="cancelarof()">Terminar</button>
  
      </div>

      <div style="padding: 25px;">
        <ngx-extended-pdf-viewer *ngIf="cpunit!=''" (beforePrint)="true" [showUnverifiedSignatures]="true" [textLayer]="true" [src]="cpunit" useBrowserLocale="true" height="80vh">
        </ngx-extended-pdf-viewer>
        <!-- <link rel="cpunit" type="application/110n" href="https://www.example.com/locale/locale.properties" /> -->
      </div>



    </mat-tab>


</mat-tab-group>