<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="DNI" minlength="8" maxlength="8" required [(ngModel)]="personalmedico.dnipersonalmedico">
  </mat-form-field>

  <mat-form-field class="obs">
    <input matInput placeholder="Nombres y apellidos" required [(ngModel)]="personalmedico.nombrespersonalmedico">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" required [(ngModel)]="personalmedico.fechanacimientopersonalmedico">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="obs">
    <input matInput placeholder="Correo" required type="email" [(ngModel)]="personalmedico.correopersonalmedico">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Telefono" minlength="6" maxlength="10" required [(ngModel)]="personalmedico.telefonopersonalmedico">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="RNE" [(ngModel)]="personalmedico.rnepersonalmedico">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="CMP" [(ngModel)]="personalmedico.cmppersonalmedico">
  </mat-form-field>  

  <mat-form-field>
    <input matInput placeholder="Area" required [(ngModel)]="personalmedico.areapersonalmedico">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Estado civil" required
    [(ngModel)]="personalmedico.estadocivilpersonalmedico" [(value)]="personalmedico.estadocivilpersonalmedico">
      <mat-option *ngFor="let p of civil" [value]="p">
        {{ p }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Tipo" required [(value)]="idTipopersonalmedicoSeleccionado">
      <mat-option *ngFor="let p of tipopersonalmedicos" [value]="p.idtipopersonalmedico">
        {{ p.cargopersonalmedico }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    
  <mat-form-field>
    <mat-select placeholder="Especialidad" required [(value)]="idEspecialidadSeleccionado">
      <mat-option *ngFor="let p of especialidades" [value]="p.idespecialidad">
        {{ p.nombreespecialidad }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>