<mat-toolbar>Categoría examen médico</mat-toolbar>

<div class="catmedico-container mat-elevation-z8" >
  <router-outlet></router-outlet>
  
  <div class="catmedico-header">
    <mat-form-field>
      <input matInput (keyup)= "applyFilter($event.target.value)" placeholder="Buscar categoría examen médico" type="text">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idcategoriaexamenmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idcategoriaexamenmedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombrecategoriaexamenmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nombrecategoriaexamenmedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idcategoriaexamenmedico]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]"></mat-paginator>

</div>

<br/>

<div class="boton">
  <button class="agregar" mat-fab style="float:right" routerLink='/categoriaexamenmedico/nuevo'>
    <mat-icon>create</mat-icon>
  </button>
</div>