<div class="example-container">


    <mat-form-field>
      <mat-select placeholder="Tipo de paciente" (selectionChange)="hclexterno1($event)" required [(value)]="idTipopacienteSeleccionado">
        <mat-option *ngFor="let p of tipopacientes" [value]="p.idtipopaciente">
          {{ p.tipopaciente }}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field>
      <input matInput placeholder="DNI" minlength="8" maxlength="8" [(ngModel)]="paciente.dnipaciente">
    </mat-form-field>
  
    <mat-form-field class="obs">
      <input matInput placeholder="Nombres" required [(ngModel)]="paciente.nombresyapellidos">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="paciente.fechanacimientopaciente">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Departamento" required [(ngModel)]="paciente.departamentopaciente">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Provincia" required [(ngModel)]="paciente.provinciapaciente">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Distrito" required [(ngModel)]="paciente.distritopaciente">
    </mat-form-field>

    <mat-form-field class="obs">
      <input matInput placeholder="Dirección" required [(ngModel)]="paciente.direccionpaciente">
    </mat-form-field>

    <mat-form-field>
      <input matInput required placeholder="Teléfono" minlength="6" maxlength="10" [(ngModel)]="paciente.telefonopaciente">
    </mat-form-field>

    <mat-form-field class="obs">
      <input matInput placeholder="Ocupación" required [(ngModel)]="paciente.ocupacionpaciente">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Estado civil" required
        [(ngModel)]="paciente.estadocivilpaciente" [(value)]="paciente.estadocivilpaciente">
          <mat-option *ngFor="let p of civil" [value]="p">
            {{ p }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Nivel educativo" required
        [(ngModel)]="paciente.niveleducacionpaciente" [(value)]="paciente.niveleducacionpaciente">
          <mat-option *ngFor="let p of niveleducativo" [value]="p">
            {{ p }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="obs">
      <input matInput placeholder="Padre" [(ngModel)]="paciente.datospadrepaciente">
    </mat-form-field>
      
    <mat-form-field class="obs">
      <input matInput placeholder="Madre" [(ngModel)]="paciente.datosmadrepaciente">
    </mat-form-field>

    <div style="padding: 20px;">
      <span style="width: 25%;">Último HCL Interno:</span>
      <input style="width: 100px; padding-left: 10px;" matInput placeholder="HCL Interno" disabled [(ngModel)]="hclinterno.hcl">
    </div>

    <button style="float:right;margin-right: 10px;" [disabled]="estadoBotonAgregar()" mat-raised-button color="primary" (click)="traerhcl()">Generar hcl interno</button>
    <mat-form-field style="width: 25%;">
        <input matInput placeholder="HCL" required [(ngModel)]="paciente.hcl">
      </mat-form-field>
     
  </div>
  
  <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
  <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>