<mat-card>Ingrese los datos de la categoria</mat-card>

<br/>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Id" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Denominacion" required formControlName="denominacion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Precio" required type="number" formControlName="precio">
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>

  <div style="padding:10px;"></div>

  <button mat-raised-button color="warn" routerLink="/categoriaexamenmedico" type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<div style="padding:50px;"></div>