
<mat-toolbar>Número de atenciones de laboratorio</mat-toolbar>
<div class="example-container mat-elevation-z8" >

  <div class="example-header">

    <mat-form-field style="  width: 50%;">
        <input matInput required [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" style="float: right;" (click)="listar()">Verificar</button>

  </div>
  <div> 
    <mat-form-field class="example-header">
      <input matInput placeholder="Cantidad" [(ngModel)]="atencion">
    </mat-form-field>
  </div>

</div>