<div>
<mat-form-field>
<input matInput placeholder="Número de recibo" required [(ngModel)]="numerocomprobante" type="number">
</mat-form-field>
<button mat-stroked-button color="primary" (click)="consultarrecibo()" style="margin-left: 20px">
  <mat-icon>add</mat-icon>
</button>
<button mat-stroked-button color="warn" (click)="close()" style="float: right;margin-left: 20px">
  <mat-icon>close</mat-icon>
</button>
<button mat-stroked-button color="warn" (click)="eliminarrecibo()" style="float: right;margin-left: 20px">
  Eliminar
</button>

</div>

<div class="example-container mat-elevation-z8" style="width: 100%;">
    
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="numerocomprobante">
      <th mat-header-cell *matHeaderCellDef> Nº recibo </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.numerorecibocomprobante}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="paciente">
      <th mat-header-cell *matHeaderCellDef> Paciente </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.paciente.nombresyapellidos}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.fechacomprobante}} </td>
      <td mat-footer-cell *matFooterCellDef> Total S/. </td>
    </ng-container>

    <ng-container matColumnDef="importedetalle">
      <th mat-header-cell *matHeaderCellDef> Importe total </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.total | currency: 'S/.'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: 'S/.'}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> E. </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.estado}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let transaction">
        <button mat-button color="warn" (click)="eliminar(transaction)">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-button color="primary" (click)="pdf(transaction)">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>


</div>