<div class="example-container">
<div style="margin: 25px;">

  <mat-form-field>
    <input matInput placeholder="Número de nota de crédito" disabled required [(ngModel)]="numerocomprobante" type="number">
  </mat-form-field>

  <mat-form-field style="padding-left: 15px;">
    <input matInput required [matDatepicker]="picker" placeholder="Fecha de emisión" [(ngModel)]="notacredito.fechacomprobante">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="width: 10%;padding-left: 30px;">
    <mat-select required placeholder="Descuento" [(value)]="notacredito.descuento">
      <mat-option *ngFor="let p of descuentos" [value]="p">
        {{ p }}%
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>



<div class="example-container1 mat-elevation-z8" >
      

  <!-- <div class="example-header">
    <mat-form-field style="width: 50%">
      <input matInput [(ngModel)]="pacient" placeholder="Buscar paciente por apellidos y nombres">
    </mat-form-field>

    <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="consultarpac()">
      <mat-icon>search</mat-icon>
    </button>

    <mat-form-field style="width: 25%;float: right;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar búsqueda">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource3" matSort>
   
    <ng-container matColumnDef="dnipaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
      <mat-cell *matCellDef="let paci"> {{paci.dnipaciente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombresyapellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y apellidos </mat-header-cell>
      <mat-cell *matCellDef="let paci"> {{paci.nombresyapellidos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Seleccionar</mat-header-cell>
      <mat-cell *matCellDef="let paci">        
        <button mat-button color="primary" (click)="addpac(paci)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
    <mat-row *matRowDef="let paci; columns: displayedColumns3;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[1,5,10]"></mat-paginator>
</div> -->

<mat-form-field style="padding-left: 25px; padding-top: 10px;width: 50%;">
  <input matInput placeholder="Paciente" required [(ngModel)]="notacredito.paciente.nombresyapellidos">
</mat-form-field>

<mat-accordion>
  <mat-expansion-panel style="background-color: #e8eaf6;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Efectuar cobro por servicio médico
      </mat-panel-title>
      <mat-panel-description>
        Abrir
      </mat-panel-description>
    </mat-expansion-panel-header>

      <div>
         <mat-form-field style="width: 50%;">
           <mat-select required placeholder="Servicio medico"   [(value)]="notacredito.serviciomedico.idserviciomedico">
             <mat-option *ngFor="let p of serviciomedicos" [value]="p.idserviciomedico" (click)="generar()">
               {{ p.denominacionserviciomedico }} - {{p.descripcionserviciomedico}} - {{p.precioserviciomedico | currency: 'S/.'}}
             </mat-option>
           </mat-select>
         </mat-form-field>
 
         <mat-form-field style="float: right;width: 20%;padding-right: 25px;padding-left: 25px;">
             <mat-select placeholder="Turno" [(value)]="notacredito.turno">
               <mat-option *ngFor="let p of turnos" [value]="p">
                 {{ p }}
               </mat-option>
             </mat-select>
         </mat-form-field>  
    
         <mat-form-field style="float: right;width: 10%;padding-left: 15px;padding-right: 15px;">
          <input matInput placeholder="Otros" [(ngModel)]="notacredito.cantidadotros">
        </mat-form-field>
       </div>

     <mat-form-field style="padding-left: 25px;">
      <input matInput [matDatepicker]="pickerA" placeholder="Fecha de atención" [(ngModel)]="notacredito.fechaatlab">
      <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
      <mat-datepicker #pickerA></mat-datepicker>
    </mat-form-field>
 
  </mat-expansion-panel>





  <mat-expansion-panel style="background-color: gainsboro;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Efectuar cobro de Tópico
      </mat-panel-title>
      <mat-panel-description>
        Abrir
      </mat-panel-description>
    </mat-expansion-panel-header>
<div>
  <mat-form-field style="width: 50%;padding-right: 25px;padding-left: 25px;">
    <input matInput placeholder="Monto inyectables/tópico" [(ngModel)]="notacredito.cantidadtopico" type="number">
  </mat-form-field>
</div>
  </mat-expansion-panel>




  
  <mat-expansion-panel style="background-color: beige;">
    <mat-expansion-panel-header >
      <mat-panel-title>
        Cobro por exámenes, rx, ecografia y tópico
      </mat-panel-title>
      <mat-panel-description>
        Abrir
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <br />
    <div>

      <mat-form-field >
        <input matInput [matDatepicker]="picker4" placeholder="Fecha de exámenes" [(ngModel)]="notacredito.fechaatlab">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>

      <form class="example" [formGroup]="form3">

        <mat-form-field style="width: 50%;">
          <input type="text" placeholder="Examen medico" aria-label="Assignee" matInput [formControl]="examen"
            [matAutocomplete]="auto1">
          <mat-autocomplete (optionSelected)="onSelectionChanged1($event)" #auto1="matAutocomplete"
            [displayWith]="displayFn1">
            <mat-option *ngFor="let option1 of filteredOptions1 | async" [(value)]="option1">
              {{option1.nombrecategoriaexamenmedico}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field style="padding-left: 15px;width: 10%;">
          <input matInput placeholder="Cantidad" formControlName="cantidadcomprobante" required type="number">
        </mat-form-field>

        <mat-form-field style="width: 25%;padding-left: 15px;">
          <mat-select placeholder="Especialista encargado"
            formControlName="personal">
            <mat-option *ngFor="let p of ecosyrads" [value]="p">
              {{ p.nombrespersonalmedico }} - {{p.areapersonalmedico}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button style="float:right" mat-raised-button color="primary" (click)="agregar()">Agregar</button>
      </form>
    </div>



    <div class="example-container1 mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="cantidaddetalle">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="denominacionexamen">
          <th mat-header-cell *matHeaderCellDef> Examen </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.categoriaexamenmedico.nombrecategoriaexamenmedico}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="precioexamen">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.categoriaexamenmedico.precio | currency: 'S/.' }}
          </td>
          <td mat-footer-cell *matFooterCellDef> Total S/. </td>
        </ng-container>

        <ng-container matColumnDef="importedetalle">
          <th mat-header-cell *matHeaderCellDef> Importe </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.categoriaexamenmedico.precio*transaction.cantidad | currency: 'S/.'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: 'S/.'}} </td>
        </ng-container>


        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let transaction">
            <button mat-button color="warn" (click)="eliminar(transaction)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

      </table>


    </div>






  </mat-expansion-panel>
</mat-accordion>




<div style="margin: 25px">
  <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Terminar</button>
  <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
  <button style="float:right;margin-right: 25px;" mat-raised-button color="accent" (click)="pdf()">Imprimir</button>

</div>
<div style="padding: 25px;"></div>
</div>