<mat-toolbar>Personal Médico</mat-toolbar>
<router-outlet></router-outlet>
<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar personal médico">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="dnipersonalmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dnipersonalmedico}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombrespersonalmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombrespersonalmedico}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipopersonalmedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de personal </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tipopersonalmedico.cargopersonalmedico}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="especialidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.especialidad.nombreespecialidad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="areapersonalmedico">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Area </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.areapersonalmedico}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <button mat-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" (click)="openDialog(row)" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>