
.example-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-left: 25px;
    padding-right: 25px;
}
.example-header{
    min-height: 64px;
    padding: 8px 24px 0;
    width: 100%;
}
.mat-form-filed{
    font-size: 14px;
    width: 100%;
}
.mat-table{
    overflow: auto;
    max-height: 500px;
}
.agregar{
    background: #3e2723;
}
.expansion{
    border: 1px solid #03A9F4;
}
