<router-outlet></router-outlet>



<mat-tab-group style="border: 1px solid #1a237e;">

  <mat-tab label="Comprobante general">
    <div style="margin: 25px;">

      <mat-form-field>
        <input matInput placeholder="Número de recibo" disabled required [(ngModel)]="numerocomprobante" type="number">
      </mat-form-field>
    
      <mat-form-field style="padding-left: 15px;">
        <input matInput required [matDatepicker]="picker" placeholder="Fecha de emisión" [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field style="width: 10%;padding-left: 30px;">
        <mat-select required (selectionChange)="desc($event)" placeholder="Descuento"
          [(ngModel)]="descuento">
          <mat-option *ngFor="let p of descuentos" [value]="p">
            {{ p }}%
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <button mat-fab color="accent" (click)="opendialog()" style="float: right; margin-right: 20px">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    
    </div>

    <div class="example-container mat-elevation-z8" >
      

      <div class="example-header">
        <mat-form-field style="width: 50%">
          <input matInput [(ngModel)]="pacient" placeholder="Buscar paciente por apellidos y nombres">
        </mat-form-field>
    
        <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="consultarpac()">
          <mat-icon>search</mat-icon>
        </button>

        <mat-form-field style="width: 25%;float: right;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar búsqueda">
        </mat-form-field>
      </div>
    
      <mat-table [dataSource]="dataSource3" matSort>
       
        <ng-container matColumnDef="dnipaciente">
          <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
          <mat-cell *matCellDef="let paci"> {{paci.dnipaciente}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="nombresyapellidos">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y apellidos </mat-header-cell>
          <mat-cell *matCellDef="let paci"> {{paci.nombresyapellidos}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Seleccionar</mat-header-cell>
          <mat-cell *matCellDef="let paci">        
            <button mat-button color="primary" (click)="addpac(paci)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
        <mat-row *matRowDef="let paci; columns: displayedColumns3;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[1,5,10]"></mat-paginator>
    </div>

    <mat-form-field style="padding-left: 25px; padding-top: 10px;width: 50%;">
      <input matInput placeholder="Paciente" required [(ngModel)]="pacienteseleccionado.nombresyapellidos">
    </mat-form-field >

    <mat-accordion>
      <mat-expansion-panel style="background-color: #e8eaf6;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Efectuar cobro por servicio médico
          </mat-panel-title>
          <mat-panel-description>
            Abrir
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        


        <form class="example-container" [formGroup]="form" (ngSubmit)="operar()" >

          <div>
             <mat-form-field style="width: 50%;">
               <mat-select required (selectionChange)="servicio($event)" placeholder="Servicio medico"
                 formControlName="idServiciomedicoSeleccionado">
                 <mat-option *ngFor="let p of serviciomedicos" [value]="p">
                   {{ p.denominacionserviciomedico }}  -  {{ p.descripcionserviciomedico}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
     
             <mat-form-field style="float: right;width: 10%;padding-right: 25px;padding-left: 25px;">
                 <mat-select placeholder="Turno"
                 formControlName="turno">
                   <mat-option *ngFor="let p of turnos" [value]="p">
                     {{ p }}
                   </mat-option>
                 </mat-select>
             </mat-form-field>  
        
             <label style="margin-left: 25px;font-weight: 900; font-size: 20px; ">
               {{precioservicio.precioserviciomedico | currency: 'S/.'}}
             </label>
             <mat-form-field style="float: right;width: 10%;padding-left: 15px;padding-right: 15px;">
              <input matInput placeholder="Otros" formControlName="otros" type="text">
            </mat-form-field>
           </div>
         </form>

         <mat-form-field style="padding-left: 25px;">
          <input matInput [matDatepicker]="pickerA" placeholder="Fecha de atención" [(ngModel)]="fechaatencioneslab">
          <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
          <mat-datepicker #pickerA></mat-datepicker>
        </mat-form-field>
     
         <div class="row" style="width: 100%;">
     
           <mat-accordion class="example-headers-align">
             <div class="col-sm-7 col-xs-12" style="padding: 0px 15px 0px 30px;">
               <!-- <mat-expansion-panel hideToggle class="expansion">
                 <mat-expansion-panel-header (click)="addfar()">
                   <mat-panel-title>
                    Cantidad total de farmacia
                   </mat-panel-title>
                   <mat-panel-description>
                     <mat-icon>picture_as_pdf</mat-icon>
                   </mat-panel-description>
                 </mat-expansion-panel-header>
     
                 <form [formGroup]="form1">
                   <mat-form-field style="width: 25%;padding-right: 25px;padding-left: 25px;">
                     <input matInput placeholder="Monto diario de farmacia" formControlName="farmacia"
                       [(value)]="cantidadtotalxdia" type="number">
                   </mat-form-field>
                   <button style="width: 25%;" mat-raised-button color="primary" (click)="totalxdiafarmacias()">
                     Generar cantidad
                   </button>
                 </form>
               </mat-expansion-panel> -->
             </div>
     
             <div class="col-sm-5 col-xs-12" style="padding: 0px 0px 0px 0px;">
               <!-- <mat-expansion-panel hideToggle class="expansion">
                 <mat-expansion-panel-header (click)="addtop()">
                   <mat-panel-title>
                    Cantidad de tópico
                   </mat-panel-title>
                   <mat-panel-description>
                     <mat-icon>picture_as_pdf</mat-icon>
                   </mat-panel-description>
                 </mat-expansion-panel-header>
     
                 <form [formGroup]="form2">
                   <mat-form-field style="width: 50%;padding-right: 25px;padding-left: 25px;">
                     <input matInput placeholder="Monto diario de tópico" formControlName="topico" type="number">
                   </mat-form-field>
                 </form>
               </mat-expansion-panel> -->
             </div>
           </mat-accordion>
     
         </div>








      </mat-expansion-panel>

      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header (click)="addtop()">
          <mat-panel-title>
           Cantidad de tópico
          </mat-panel-title>
          <mat-panel-description>
            Abrir
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="form2">
          <mat-form-field style="width: 50%;padding-right: 25px;padding-left: 25px;">
            <input matInput placeholder="Monto diario de tópico" formControlName="topico" type="number">
          </mat-form-field>
        </form>
      </mat-expansion-panel>


      
      <mat-expansion-panel style="background-color: beige;">
        <mat-expansion-panel-header >
          <mat-panel-title>
            Cobro por exámenes, rx, ecografia y tópico
          </mat-panel-title>
          <mat-panel-description>
            Abrir
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        
        <br />
        <div>

          <mat-form-field >
            <input matInput [matDatepicker]="picker4" placeholder="Fecha de exámenes" [(ngModel)]="fechaatencioneslab">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>

          <form class="example" [formGroup]="form3">
    
            <mat-form-field class="example-full-width" style="width: 50%;">
              <input type="text" placeholder="Examen medico" aria-label="Assignee" matInput [formControl]="examen"
                [matAutocomplete]="auto1">
              <mat-autocomplete (optionSelected)="onSelectionChanged1($event)" #auto1="matAutocomplete"
                [displayWith]="displayFn1">
                <mat-option *ngFor="let option1 of filteredOptions1 | async" [(value)]="option1">
                  {{option1.nombrecategoriaexamenmedico}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
    
            <mat-form-field style="padding-left: 15px;width: 10%;">
              <input matInput placeholder="Cantidad" formControlName="cantidadcomprobante" required type="number">
            </mat-form-field>

            <mat-form-field style="width: 25%;padding-left: 15px;">
              <mat-select placeholder="Especialista encargado"
                formControlName="personal">
                <mat-option *ngFor="let p of ecosyrads" [value]="p">
                  {{ p.nombrespersonalmedico }} - {{p.areapersonalmedico}}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
            <button style="float:right" mat-raised-button color="primary" (click)="agregar()">Agregar</button>
          </form>
        </div>
    
    
    
        <div class="example-container mat-elevation-z8">
    
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <ng-container matColumnDef="cantidaddetalle">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
    
            <ng-container matColumnDef="denominacionexamen">
              <th mat-header-cell *matHeaderCellDef> Examen </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.categoriaexamenmedico.nombrecategoriaexamenmedico}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
    
            <ng-container matColumnDef="precioexamen">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.categoriaexamenmedico.precio | currency: 'S/.' }}
              </td>
              <td mat-footer-cell *matFooterCellDef> Total S/. </td>
            </ng-container>
    
            <ng-container matColumnDef="importedetalle">
              <th mat-header-cell *matHeaderCellDef> Importe </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.importe | currency: 'S/.'}} </td>
              <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: 'S/.'}} </td>
            </ng-container>
    
    
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let transaction">
                <button mat-button color="warn" (click)="eliminar(transaction)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    
          </table>
    
    
        </div>






      </mat-expansion-panel>
    </mat-accordion>
    








   


    <div style="margin: 25px">
      <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Terminar</button>
      <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
      <button style="float:right;margin-right: 25px;" mat-raised-button color="accent" (click)="pdf()">Imprimir</button>

    </div>
    <div style="padding: 25px;"></div>
  </mat-tab>

  <mat-tab label="Reportes y cierre de caja">
    <div class="row col-sm-12 col-xs-12" style="padding-top: 10px;">
      <div class="col-sm-6">
        <div>
        <mat-toolbar color="primary"><span>Reporte general</span></mat-toolbar>
          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="picker1" placeholder="Fecha del inicio" [(ngModel)]="fechaSeleccionada1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="picker2" placeholder="Fecha del fin" [(ngModel)]="fechaSeleccionada2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
    
          <button mat-stroked-button color="primary" (click)="pdfCaja()">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfCajaXLSX()">
            <i class="fas fa-file-excel" style="font-size: 22px;"></i>
          </button>
        </div>
      </div>



      <div class="col-sm-6">
        <div>
        <mat-toolbar color="primary"><span>Reporte detallado</span></mat-toolbar>

        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="pickerd" placeholder="Fecha del inicio" [(ngModel)]="fechaDetallada">
          <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
          <mat-datepicker #pickerd></mat-datepicker>
        </mat-form-field>

        <button mat-stroked-button color="primary" (click)="pdfDetallado()">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfDetalladoXLSX()">
          <i class="fas fa-file-excel" style="font-size: 22px;"></i>
        </button>

        </div>
      </div>


      <div class="row " style="padding-top: 10px;">

        <div class ="col-sm-12" style="padding-right: 45px;margin-left:15px;margin-bottom: 15px;">
          <mat-toolbar color="primary" ><span>Reporte de ventas e ingresos</span></mat-toolbar>


            <mat-card>
              <!-- <div>
              <mat-form-field style="padding: 25px;">
                <input matInput [matDatepicker]="pickering" placeholder="Fecha del inicio" [(ngModel)]="fechaingreso">
                <mat-datepicker-toggle matSuffix [for]="pickering"></mat-datepicker-toggle>
                <mat-datepicker #pickering></mat-datepicker>
              </mat-form-field>
              <button mat-stroked-button color="primary" (click)="verificaring()">Verificar ingresos</button>
              <mat-form-field style="padding: 0 25px 0 25px;">
              <input matInput disabled placeholder="Monto recaudado" [(ngModel)]="montorecaudado">
              </mat-form-field>
              <button mat-stroked-button (click)="registraring()" style="color: darkgoldenrod;float: right;margin-top: 25px;">Registrar ingresos</button>
              </div>
              <div>              
                <button mat-stroked-button style="color: indianred;margin-left: 25px;" (click)="openeliminar()">Eliminar recibos extemporáneos</button>
              </div>
              <div>              
                <button mat-stroked-button color="primary" style="margin-left: 25px; margin-top: 15px;" (click)="generarFormato()">Generar informe</button>
              </div> -->

              <div style="padding-top: 25px;">
                <mat-card>
                <mat-form-field style="padding: 25px;">
                  <input matInput [matDatepicker]="rec" placeholder="Fecha inicial" [(ngModel)]="fecharecinicio">
                  <mat-datepicker-toggle matSuffix [for]="rec"></mat-datepicker-toggle>
                  <mat-datepicker #rec></mat-datepicker>
                </mat-form-field>
                <mat-form-field style="padding: 25px;">
                  <input matInput [matDatepicker]="rec1" placeholder="Fecha final" [(ngModel)]="fecharecfin">
                  <mat-datepicker-toggle matSuffix [for]="rec1"></mat-datepicker-toggle>
                  <mat-datepicker #rec1></mat-datepicker>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="recaudoreportpdf()">
                  <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="recaudoreport()">
                  <i class="fas fa-file-excel" style="font-size: 22px;"></i>
                </button>
              </mat-card>
              </div>

            </mat-card>

        </div>
        
      </div>
    </div>

  </mat-tab>
  <!-- <mat-tab label="Reporte de atenciones">
    <div>
      <mat-form-field style="padding: 25px;">
        <input matInput [matDatepicker]="picker3" placeholder="Fecha del inicio" [(ngModel)]="fechaSeleccionada3">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>

      <button mat-button color="primary" (click)="pdfAtencion()">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
    </div>
  </mat-tab> -->


  <mat-tab label="Anular comprobante">

    <div class="example-header">
      <mat-form-field style="width: 20%">
        <input matInput [(ngModel)]="recib" placeholder="Buscar recibo por número">
      </mat-form-field>
  
      <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="consultar()">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="notacredito()">
        Generar nota de crédito
      </button>
    </div>

    <div>
      <mat-form-field style="width: 50%;padding: 15px;">
        <input matInput placeholder="paciente" [(ngModel)]="paciente1">
      </mat-form-field>

      <button mat-button color="warn" (click)="eliminarCP()">
        <mat-icon>delete</mat-icon>
      </button>

      <button style="margin-left: 25px;" mat-raised-button color="accent" (click)="cancelar()">Terminar</button>

    </div>


  </mat-tab>

</mat-tab-group>

<div style="padding: 25px;"> 
  <ngx-extended-pdf-viewer *ngIf="cp!=''" [src]="cp" useBrowserLocale="false" height="80vh">
  </ngx-extended-pdf-viewer>
  <link rel="cp" type="application/110n" href="https://www.example.com/locale/locale.properties" />
</div>
<div style="padding: 25px;">
  <ngx-extended-pdf-viewer *ngIf="vent!=''" [src]="vent" useBrowserLocale="true" height="80vh">
  </ngx-extended-pdf-viewer>
  <!-- <link rel="vent" type="application/110n" href="https://www.example.com/locale/locale.properties" /> -->
</div>
<div style="padding: 25px;">
  <ngx-extended-pdf-viewer *ngIf="cpunit!=''" (beforePrint)="true" [showUnverifiedSignatures]="true" [textLayer]="true" [src]="cpunit" useBrowserLocale="true" height="80vh">
  </ngx-extended-pdf-viewer>
  <!-- <link rel="cpunit" type="application/110n" href="https://www.example.com/locale/locale.properties" /> -->
</div>
