<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="Denominación" [(ngModel)]="examenmedico.denominacionexamenmedico">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Unidad de medida" [(ngModel)]="examenmedico.unidadmedida">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Valor de referencia" [(ngModel)]="examenmedico.valorreferencia">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="extra" [(ngModel)]="examenmedico.extra">
  </mat-form-field>

  <mat-form-field class="example-full-width" style="width: 50%;">
      <input type="text" placeholder="Categoria de medico" aria-label="Assignee" matInput [formControl]="categoria"
        [matAutocomplete]="auto1">
      <mat-autocomplete (optionSelected)="onSelectionChanged1($event)" #auto1="matAutocomplete"
        [displayWith]="displayFn1">
        <mat-option *ngFor="let option1 of filteredOptions1 | async" [(value)]="option1">
          {{option1.nombrecategoriaexamenmedico}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>