<mat-toolbar>Exámenes de laboratorio generales</mat-toolbar>
<router-outlet></router-outlet>
<mat-tab-group>
<mat-tab label="Registro de exámenes generales">  
<div class="examenesg-container mat-elevation-z8" >
    

  <div class="examenesg-header">
    <mat-form-field>
      <input matInput (keyup)= "applyFilter($event.target.value)" placeholder="Buscar examen de laboratorio" type="text">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idexamenesg">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idexamenesg}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="denominacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.denominacion}}</mat-cell>
    </ng-container> 

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Valores de referencia</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.descripcion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idexamenesg]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]"></mat-paginator>

</div>

<br/>

<div style="padding-right: 50px">
  <button class="agregar" mat-fab style="float:right" routerLink='/examenesgenerales/nuevo'>
    <mat-icon>create</mat-icon>
  </button>
</div>

<div style="padding: 50px;"></div>
</mat-tab>




<mat-tab label="Reporte de exámenes">
    <div>
      <mat-card>Reporte de exámenes de bioquímica por fecha</mat-card>
        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="picker1" placeholder="Fecha del inicio" [(ngModel)]="fechaSeleccionada1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      
        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="picker2" placeholder="Fecha del fin" [(ngModel)]="fechaSeleccionada2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>  
    
        <button mat-button color="primary" (click)="pdfReporteExamenesG()">
          <mat-icon>picture_as_pdf</mat-icon>
          </button>
      </div>
      <div>
        <mat-card>Reporte del total de exámenes realizados por fecha</mat-card>
          <mat-form-field style="padding: 25px;">
            <input matInput [matDatepicker]="picker3" placeholder="Fecha del inicio" [(ngModel)]="fechaSeleccionada3">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        
          <mat-form-field style="padding: 25px;">
            <input matInput [matDatepicker]="picker4" placeholder="Fecha del fin" [(ngModel)]="fechaSeleccionada4">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>  
      
          <button mat-button color="primary" (click)="pdfReporteLab()">
            <mat-icon>picture_as_pdf</mat-icon>
            </button>
        </div>
      <div style="padding: 25px;">
          <ngx-extended-pdf-viewer *ngIf="rep!=''" [src]="rep" useBrowserLocale="false" height="80vh">
          </ngx-extended-pdf-viewer>
          <link rel="rep" type="application/110n" href="https://www.example.com/locale/locale.properties"/> 
      </div>

</mat-tab>

</mat-tab-group>
