<router-outlet></router-outlet>

<mat-tab-group>
  <mat-tab label="Reportes de caja">
    <div class="row col-sm-12 col-xs-12" style="padding-top: 10px;">
      <div class="col-sm-6">
        <div>
          <mat-toolbar color="primary"><span>Reporte general</span></mat-toolbar>
          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="picker1" placeholder="Fecha del inicio" [(ngModel)]="fechaSeleccionada1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="picker2" placeholder="Fecha del fin" [(ngModel)]="fechaSeleccionada2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <button mat-stroked-button color="primary" (click)="pdfCaja()">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfCajaXLSX()">
            <i class="fas fa-file-excel" style="font-size: 22px;"></i>
          </button>
        </div>
      </div>



      <div class="col-sm-6">
        <div>
          <mat-toolbar color="primary"><span>Reporte detallado</span></mat-toolbar>

          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="pickerd" placeholder="Fecha del inicio" [(ngModel)]="fechaDetallada">
            <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
            <mat-datepicker #pickerd></mat-datepicker>
          </mat-form-field>

          <button mat-stroked-button color="primary" (click)="pdfDetallado()">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfDetalladoXLSX()">
            <i class="fas fa-file-excel" style="font-size: 22px;"></i>
          </button>
        </div>
      </div>





      <div class="col-sm-12" style="padding-top: 25px;">
        <mat-card>
          <mat-card style="background-color: #e8eaf6;">Reporte de cierre de caja</mat-card> 
        <br>
        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="rec" placeholder="Fecha inicial" [(ngModel)]="fecharecinicio">
          <mat-datepicker-toggle matSuffix [for]="rec"></mat-datepicker-toggle>
          <mat-datepicker #rec></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="rec1" placeholder="Fecha final" [(ngModel)]="fecharecfin">
          <mat-datepicker-toggle matSuffix [for]="rec1"></mat-datepicker-toggle>
          <mat-datepicker #rec1></mat-datepicker>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="recaudoreportpdf()">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="recaudoreport()">
          <i class="fas fa-file-excel" style="font-size: 22px;"></i>
        </button>
      </mat-card>
      </div>






    </div>

    <div class="col-sm-12">
      <div>
        <ngx-extended-pdf-viewer *ngIf="vent!=''" [src]="vent" [textLayer]="true" useBrowserLocale="false" height="80vh">
          <link rel="vent" type="application/110n" href="https://www.example.com/locale/locale.properties" />
        </ngx-extended-pdf-viewer>
      </div>
    </div>
  </mat-tab>




  <mat-tab label="Reporte de atenciones">

    <div class="row col-sm-12 col-xs-12" style="padding-top: 10px;">
      <div class="col-sm-6">
        <mat-toolbar color="primary"><span>Reporte por servicio médico</span></mat-toolbar>
        
          <mat-form-field style="width: 80%;padding: 15px;">
            <mat-select  placeholder="Servicio medico"
              [(ngModel)]="servicioSeleccionado">
              <mat-option *ngFor="let p of servicios" [value]="p.denominacionserviciomedico">
                {{ p.denominacionserviciomedico }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 80%;padding: 15px;">
            <mat-select  placeholder="Médico"
              [(ngModel)]="medicoseleccionado">
              <mat-option *ngFor="let p of servicios" [value]="p.descripcionserviciomedico">
                {{ p.descripcionserviciomedico}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="picker3" placeholder="Fecha inicial" [(ngModel)]="fechaSeleccionada8">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>

          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="picker8" placeholder="Fecha final" [(ngModel)]="fechaSeleccionada9">
            <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
            <mat-datepicker #picker8></mat-datepicker>
          </mat-form-field>

          <button mat-stroked-button color="primary" (click)="pdfAtencionesG()">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfAtencionesGXLSX()">
            <i class="fas fa-file-excel" style="font-size: 22px;"></i>
          </button>
        
      </div>

      <div class="col-sm-6">
        <mat-toolbar color="primary"><span>Reporte de reconsultas</span></mat-toolbar>
        <div >
          
          <mat-form-field style="width: 80%;padding: 15px;">
            <mat-select  placeholder="Médico"
              [(ngModel)]="recSeleccionada">
              <mat-option *ngFor="let p of medicoreconsultas" [value]="p">
                {{ p.nombrespersonalmedico }}
              </mat-option>
            </mat-select>
          </mat-form-field>

            <mat-form-field style="padding: 15px;">
                <input matInput required [matDatepicker]="pickerrec" placeholder="Fecha" [(ngModel)]="fechaSeleccionadarec">
                <mat-datepicker-toggle matSuffix [for]="pickerrec"></mat-datepicker-toggle>
                <mat-datepicker #pickerrec></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="padding: 15px;">
                <input matInput required [matDatepicker]="pickerrec2" placeholder="Fecha" [(ngModel)]="fechaSeleccionadarec2">
                <mat-datepicker-toggle matSuffix [for]="pickerrec2"></mat-datepicker-toggle>
                <mat-datepicker #pickerrec2></mat-datepicker>
              </mat-form-field>
        
              <button mat-stroked-button color="primary" (click)="pdfReconsultas()">
                <mat-icon>picture_as_pdf</mat-icon>
              </button>

              <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="XLSXReconsultas()">
                <i class="fas fa-file-excel" style="font-size: 22px;"></i>
              </button>

        </div>
      </div>

      <div class="row col-sm-12 col-xs-12" style="padding-top: 10px;">
        <div class="col-sm-6">
          <mat-toolbar color="primary"><span>Reporte de atenciones de Rx. y ecografía</span></mat-toolbar>
          
          <mat-form-field style="width: 80%;padding: 15px;">
            <mat-select  placeholder="Médico"
              [(ngModel)]="especialistaseleccionado">
              <mat-option *ngFor="let p of ecoyrads" [value]="p">
                {{ p.nombrespersonalmedico }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="pickerecos" placeholder="Fecha inicial" [(ngModel)]="fechaecorad1">
            <mat-datepicker-toggle matSuffix [for]="pickerecos"></mat-datepicker-toggle>
            <mat-datepicker #pickerecos></mat-datepicker>
          </mat-form-field>

          <mat-form-field style="padding: 15px;">
            <input matInput [matDatepicker]="pickereco" placeholder="Fecha final" [(ngModel)]="fechaecorad2">
            <mat-datepicker-toggle matSuffix [for]="pickereco"></mat-datepicker-toggle>
            <mat-datepicker #pickereco></mat-datepicker>
          </mat-form-field>

          <button mat-stroked-button color="primary" (click)="pdfAtencionesEcoRad()">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="AtencionesEcoRadXLSX()">
            <i class="fas fa-file-excel" style="font-size: 22px;"></i>
          </button>
        </div>
      </div>

      <div class="col-sm-12">
        <div>
          <ngx-extended-pdf-viewer *ngIf="at!=''" [src]="at" useBrowserLocale="true" height="80vh">
          </ngx-extended-pdf-viewer>
        </div>
      </div>
    </div>
  </mat-tab>





  <mat-tab label="Reporte de laboratorio">
    <div style="padding: 10px;">
      <mat-toolbar color="primary"><span>Reporte de atenciones por examen médico</span></mat-toolbar>
      <mat-form-field style="padding: 25px;">
        <input matInput [matDatepicker]="picker4" placeholder="Fecha de inicio" [(ngModel)]="fechaSeleccionada4">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="padding: 15px;">
        <input matInput [matDatepicker]="picker5" placeholder="Fecha de fin" [(ngModel)]="fechaSeleccionada5">
        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
        <mat-datepicker #picker5></mat-datepicker>
      </mat-form-field>

      <button mat-stroked-button color="primary" (click)="pdflab()">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
      <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfLabxlsx()">
        <i class="fas fa-file-excel" style="font-size: 22px;"></i>
      </button>
    </div>

    <div style="padding: 25px;">
      <ngx-extended-pdf-viewer *ngIf="rep!=''" [src]="rep" useBrowserLocale="true" height="80vh">
      </ngx-extended-pdf-viewer>
    </div>

  </mat-tab>








  <mat-tab label="Reportes de farmacia">

    <div class="row col-sm-12 col-xs-12" style="padding-top: 10px;">
      <div class="col-sm-6">
        <mat-toolbar color="primary"><span>Reporte de productos médicos</span></mat-toolbar>
        <mat-card>Generar
          <button style="margin-left: 50px" mat-stroked-button color="primary" (click)="testPdf()">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="generatepdf()">
            <i class="fas fa-file-excel" style="font-size: 22px;"></i>
          </button>
        </mat-card>

      </div>
      <div class="col-sm-6">
        <mat-toolbar color="primary"><span>Reporte de ventas</span></mat-toolbar>
        <div>
          <div>
            <mat-form-field style="padding: 15px;">
              <input matInput [matDatepicker]="picker6" placeholder="Fecha del inicio"
                [(ngModel)]="fechaSeleccionada6">
              <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
              <mat-datepicker #picker6></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="padding: 15px;">
              <input matInput [matDatepicker]="picker7" placeholder="Fecha del fin" [(ngModel)]="fechaSeleccionada7">
              <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
              <mat-datepicker #picker7></mat-datepicker>
            </mat-form-field>

            <button mat-stroked-button color="primary" (click)="pdfventas()">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>

            <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="excelventas()">
              <i class="fas fa-file-excel" style="font-size: 22px;"></i>
            </button>
          </div>
        </div>

      </div>
      <div class="col-sm-12">
        <div>
          <ngx-extended-pdf-viewer *ngIf="pro!=''" [src]="pro" useBrowserLocale="false" height="80vh">
          </ngx-extended-pdf-viewer>
          <link rel="pro" type="application/110n" href="https://www.example.com/locale/locale.properties" />
        </div>
        <div>
          <ngx-extended-pdf-viewer *ngIf="farm!=''" [src]="farm" useBrowserLocale="false" height="80vh">
          </ngx-extended-pdf-viewer>
          <link rel="farm" type="application/110n" href="https://www.example.com/locale/locale.properties" />
        </div>
      </div>
    </div>

  </mat-tab>



</mat-tab-group>