<mat-toolbar>Registro de historia clínica</mat-toolbar>
<router-outlet></router-outlet>

<div>
  <mat-card style="background-color: lightgoldenrodyellow;">
    Seleccione las fechas para consultar sus atenciones :

    <mat-form-field style="padding-left: 25px;">
      <input matInput [matDatepicker]="picker4" placeholder="Fecha inicial" [(ngModel)]="fechainicio">
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field style="padding-left: 25px;">
      <input matInput [matDatepicker]="picker" placeholder="Fecha final" [(ngModel)]="fechafin">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="listarPorFecha()">
      <mat-icon>search</mat-icon>
    </button>

    <div>
      <mat-form-field style="width: 50%">
        <input matInput [(ngModel)]="pacient" placeholder="Buscar historia por apellidos y nombres del paciente">
      </mat-form-field>
  
      <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="consultar()">
        <mat-icon>search</mat-icon>
      </button>

      <mat-form-field style="width: 15%">
        <input matInput [(ngModel)]="hcl" placeholder="Buscar por HCL">
      </mat-form-field>
  
      <button mat-stroked-button color="primary" style="margin: 0 15px 0 15px;" (click)="consultarhcl()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

  </mat-card>

</div>

<div class="example-container mat-elevation-z8" style="margin: 25px;">

  <div style="display: block">
    <mat-form-field class="filtro" appearance="outline">
      <mat-label>HCL</mat-label>
      <input matInput [(ngModel)]="filterEntity.paciente.hcl">
    </mat-form-field>
    <mat-form-field class="filtro" appearance="outline">
      <mat-label>DNI</mat-label>
      <input matInput [(ngModel)]="filterEntity.paciente.dnipaciente">
    </mat-form-field>
    <mat-form-field class="filtro" appearance="outline">
      <mat-label>Nombres</mat-label>
      <input matInput [(ngModel)]="filterEntity.paciente.nombresyapellidos">
    </mat-form-field>
    <mat-form-field class="filtro" appearance="outline">
        <mat-label>Fecha de expedición</mat-label>
        <input matInput [(ngModel)]="filterEntity.fechaexpediciconhistoriaclinica">
      </mat-form-field>
    <mat-form-field class="filtro" appearance="outline">
      <input matInput disabled>
    </mat-form-field>
  </div>

  <mat-table matTableFilter [exampleEntity]="filterEntity" [filterType]="filterType" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="hcl">
      <mat-header-cell *matHeaderCellDef mat-sort-header>HCL</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paciente.hcl}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dnipaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paciente.dnipaciente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombresyapellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres y apellidos</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paciente.nombresyapellidos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechadeexpedicion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de expedición</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fechaexpediciconhistoriaclinica}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button style="color: darkseagreen;" *ngIf="row.estado==0" (click)="atender(row)">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="accent" (click)="pdf(row)">
          <mat-icon>assignment</mat-icon>
        </button>
        <button mat-button color="warn" href="#myModal" data-toggle="modal" (click)="seleccionar(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" (click)="openDialog(hist)" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>
<button mat-fab color="accent" (click)="abrir()" style="float: right; margin-right: 60px">
  <mat-icon>remove_red_eye</mat-icon>
</button>

<button mat-fab color="accent" (click)="abrirat()" style="float: right; margin-right: 60px">
  <mat-icon>assignment</mat-icon>
</button>

<div style="padding: 50px;"></div>

<div style="padding: 25px;">
  <ngx-extended-pdf-viewer *ngIf="his!=''" [src]="his" useBrowserLocale="true" height="160vh">
  </ngx-extended-pdf-viewer>
  <link rel="his" type="application/110n"/>
</div>






<div>
  <!-- Modal HTML -->
  <div id="myModal" class="modal fade" >
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="icon-box">
            <i class="material-icons">&#xE5CD;</i>
          </div>				
          <h4 class="modal-title">¿Está seguro?</h4>	
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Realmente está seguro de eliminar la historia del paciente {{nombres}}, esta acción no puede anularse.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarhist()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>  
</div>