<mat-toolbar>Servicios Médicos</mat-toolbar>

<div class="smedico-container mat-elevation-z8">
    <router-outlet></router-outlet>

  <div class="smedico-header">
    <mat-form-field>
      <input matInput (keyup)= "applyFilter($event.target.value)" placeholder="Buscar servicio médico" type="text">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idserviciomedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idserviciomedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="denominacionserviciomedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.denominacionserviciomedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcionserviciomedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Médico encargado</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.descripcionserviciomedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="precioserviciomedico">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.precioserviciomedico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idserviciomedico]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]"></mat-paginator>

</div>

<br/>

<div style="padding-right: 50px">
  <button class="agregar" mat-fab style="float:right" routerLink='/serviciomedico/nuevo'>
    <mat-icon>create</mat-icon>
  </button>
</div>
<div style="padding: 50px;">

</div>